@import "tailwindcss";

:root {
  --background: #BAD1CD;
  --foreground: #171219;
}

@theme {
  --color-movie: #9A031E;
  --color-book: #DB7F8E;
  --color-serie: #AF7595;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}